<header class="tw-fixed tw-inset-x-0 tw-top-0 tw-transition-[margin] tw-reset tw-z-20 lg:tw-ml-20 rtl:lg:tw-ml-0 rtl:lg:tw-mr-20">
  <div
    class="tw-relative tw-z-20 tw-flex tw-h-16 tw-items-center tw-gap-4 tw-px-4 tw-transition-shadow tw-duration-200 lg:tw-px-6 tw-bg-[var(--apollo-layout-background,white)] tw-text-[var(--apollo-layout-text)] tw-shadow-sm"
  >
    <div class="lg:tw-hidden">
      <button
        type="button"
        id="navigation-header-expand-button"
        class="tw-btn-medium tw-btn-icon tw-btn-secondary-filled"
        aria-expanded="false"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 16 16"
          fill="currentColor"
          aria-hidden="true"
          data-slot="icon"
          class="tw-size-4"
        >
          <path
            fill-rule="evenodd"
            d="M2 3.75A.75.75 0 0 1 2.75 3h10.5a.75.75 0 0 1 0 1.5H2.75A.75.75 0 0 1 2 3.75ZM2 8a.75.75 0 0 1 .75-.75h10.5a.75.75 0 0 1 0 1.5H2.75A.75.75 0 0 1 2 8Zm0 4.25a.75.75 0 0 1 .75-.75h10.5a.75.75 0 0 1 0 1.5H2.75a.75.75 0 0 1-.75-.75Z"
            clip-rule="evenodd"
          ></path>
        </svg>
        <span class="tw-sr-only">Open Navigation</span>
      </button>
    </div>
    <div class="tw-flex-1 tw-text-center lg:tw-pl-4 lg:tw-text-left rtl:lg:tw-pl-0 rtl:lg:tw-pr-4 rtl:lg:tw-text-right">
      <h3 class="tw-text-2xl tw-font-bold">{ TITLE }</h3>
    </div>
    <div class="tw-hidden tw-flex-1 tw-justify-center lg:tw-flex"></div>
    <div class="tw-flex tw-w-8 tw-justify-end lg:tw-w-auto lg:tw-flex-1"></div>
  </div>
</header>
