<header class="tw-absolute tw-inset-x-0 tw-top-0 lg:tw-ml-20 rtl:lg:tw-ml-0 rtl:lg:tw-mr-20 tw-reset tw-transition-[margin]">
  <div
    class="lg:tw-pl-10 lg:tw-pr-6 rtl:lg:tw-pl-6 rtl:lg:tw-pr-10 tw-bg-[var(--apollo-layout-preview-background,white)] tw-duration-200 tw-flex tw-gap-4 tw-h-16 tw-items-center tw-px-4 tw-relative tw-shadow-sm tw-text-[var(--apollo-layout-preview-text)] tw-transition-shadow"
  >
    <div class="lg:tw-hidden">
      <button
        type="button"
        id="navigation-header-expand-button"
        class="tw-btn-medium tw-btn-icon tw-btn-secondary-filled"
        aria-expanded="false"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 16 16"
          fill="currentColor"
          aria-hidden="true"
          data-slot="icon"
          class="tw-size-4"
        >
          <path
            fill-rule="evenodd"
            d="M2 3.75A.75.75 0 0 1 2.75 3h10.5a.75.75 0 0 1 0 1.5H2.75A.75.75 0 0 1 2 3.75ZM2 8a.75.75 0 0 1 .75-.75h10.5a.75.75 0 0 1 0 1.5H2.75A.75.75 0 0 1 2 8Zm0 4.25a.75.75 0 0 1 .75-.75h10.5a.75.75 0 0 1 0 1.5H2.75a.75.75 0 0 1-.75-.75Z"
            clip-rule="evenodd"
          ></path>
        </svg>
        <span class="tw-sr-only">Open Navigation</span>
      </button>
    </div>
    <div class="tw-flex-1 tw-text-center lg:tw-pl-4 lg:tw-text-left rtl:lg:tw-pl-0 rtl:lg:tw-pr-4 rtl:lg:tw-text-right">
      <h3 class="tw-text-2xl tw-font-bold">Home</h3>
    </div>
    <div class="tw-hidden tw-flex-1 tw-justify-center lg:tw-flex">
      <button
        type="button"
        id="navigation-header-search-button"
        class="[&amp;_*]:tw-pointer-events-none active:tw-bg-neutral-200 focus:tw-bg-neutral-100 focus:tw-outline-none hover:tw-bg-neutral-100 rtl:tw-text-right tw-bg-neutral-50 tw-flex tw-gap-2 tw-h-10 tw-items-center tw-justify-center tw-px-3 tw-ring-1 tw-ring-neutral-300 tw-rounded-lg tw-text-left tw-text-neutral-600 tw-w-80"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          aria-hidden="true"
          data-slot="icon"
          class="rtl:tw-scale-x-[-1] tw-shrink-0 tw-size-4"
        >
          <path
            fill-rule="evenodd"
            d="M9 3.5a5.5 5.5 0 1 0 0 11 5.5 5.5 0 0 0 0-11ZM2 9a7 7 0 1 1 12.452 4.391l3.328 3.329a.75.75 0 1 1-1.06 1.06l-3.329-3.328A7 7 0 0 1 2 9Z"
            clip-rule="evenodd"
          ></path></svg
        ><span class="tw-grow">Search</span
        ><kbd class="tw-font-sans tw-text-xs tw-font-semibold"><abbr class="tw-text-xs tw-no-underline" title="Command">⌘</abbr> K </kbd>
      </button>
    </div>

    <div class="tw-flex tw-w-8 tw-justify-end lg:tw-w-auto lg:tw-flex-1">
      <button
        type="button"
        dgat="utilityBar-fab"
        class="lg:tw-not-btn-icon tw-btn-icon tw-btn-medium tw-btn-tertiary tw-text-[var(--apollo-layout-preview-highlight)]"
        title="Add to Profile"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 16 16"
          fill="currentColor"
          aria-hidden="true"
          data-slot="icon"
          class="tw-size-4"
        >
          <path
            d="M8.75 3.75a.75.75 0 0 0-1.5 0v3.5h-3.5a.75.75 0 0 0 0 1.5h3.5v3.5a.75.75 0 0 0 1.5 0v-3.5h3.5a.75.75 0 0 0 0-1.5h-3.5v-3.5Z"
          ></path>
        </svg>
        <span class="tw-sr-only tw-whitespace-nowrap lg:tw-not-sr-only">Add</span>
      </button>
    </div>
  </div>
</header>
