<!-- Placeholder content area -->
<div
  class="tw-absolute tw-mx-4 tw-mt-4 tw-rounded-xl tw-border tw-border-dashed tw-border-neutral-400 tw-opacity-75 md:tw-mx-10 md:tw-mt-8 tw-inset-0"
>
  <svg class="tw-absolute tw-inset-0 tw-h-full tw-w-full tw-stroke-neutral-900/10" fill="none">
    <defs>
      <pattern id="pattern-1526ac66-f54a-4681-8fb8-0859d412f251" x="0" y="0" width="10" height="10" patternUnits="userSpaceOnUse">
        <path d="M-3 13 15-5M-5 5l18-18M-1 21 17 3"></path>
      </pattern>
    </defs>
    <rect stroke="none" fill="url(#pattern-1526ac66-f54a-4681-8fb8-0859d412f251)" width="100%" height="100%"></rect>
  </svg>
</div>
