<div
  id="instructions-drawer"
  class="tw-fixed tw-right-0 tw-h-full tw-w-0 tw-translate-x-full tw-transform tw-items-center tw-justify-center tw-gap-10 tw-self-stretch tw-overflow-auto tw-bg-white tw-ring-1 tw-ring-neutral-200 tw-transition-transform tw-duration-500 md:tw-relative md:tw-h-auto"
>
  <div class="tw-relative tw-mb-4 tw-overflow-hidden tw-p-6">
    <div class="tw-relative tw-z-10 tw-flex tw-w-full tw-items-center tw-justify-between">
      <h4 class="tw-flex tw-self-stretch tw-font-extrabold tw-text-neutral-900">Instructions</h4>
      <button type="button" class="tw-z-5" onclick="toggleDrawer('instructions-drawer')">
        <!-- Icon: x-mark -->
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M2.46967 2.46967C2.76256 2.17678 3.23744 2.17678 3.53033 2.46967L8 6.93934L12.4697 2.46967C12.7626 2.17678 13.2374 2.17678 13.5303 2.46967C13.8232 2.76256 13.8232 3.23744 13.5303 3.53033L9.06066 8L13.5303 12.4697C13.8232 12.7626 13.8232 13.2374 13.5303 13.5303C13.2374 13.8232 12.7626 13.8232 12.4697 13.5303L8 9.06066L3.53033 13.5303C3.23744 13.8232 2.76256 13.8232 2.46967 13.5303C2.17678 13.2374 2.17678 12.7626 2.46967 12.4697L6.93934 8L2.46967 3.53033C2.17678 3.23744 2.17678 2.76256 2.46967 2.46967Z"
            fill="currentColor"
          />
        </svg>
      </button>
    </div>
    <p class="tw-relative tw-z-10 tw-self-stretch tw-text-xs tw-text-neutral-900">Learn the basics of the Skills Platform</p>
    <!-- Icon: Ellipse 6 -->
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="230"
      height="92"
      viewBox="0 0 230 92"
      fill="none"
      class="sm:tw-blur-xsm tw-absolute tw-left-0 tw-top-0 tw-z-0 tw-text-blue-500"
    >
      <g filter="url(#filter0_f_984_9707)">
        <ellipse cx="114.824" cy="101.687" rx="22.8274" ry="30.3118" fill="currentColor" />
      </g>
      <defs>
        <filter
          id="filter0_f_984_9707"
          x="-0.00390625"
          y="-20.625"
          width="229.655"
          height="244.624"
          filterUnits="userSpaceOnUse"
          color-interpolation-filters="sRGB"
        >
          <feFlood flood-opacity="0" result="BackgroundImageFix" />
          <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
          <feGaussianBlur stdDeviation="46" result="effect1_foregroundBlur_984_9707" />
        </filter>
      </defs>
    </svg>
    <!-- Icon: Ellipse 7 -->
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="202"
      height="92"
      viewBox="0 0 202 92"
      fill="none"
      class="sm:tw-blur-xsm tw-absolute tw-left-0 tw-top-0 tw-z-0 tw-text-blue-100"
    >
      <g filter="url(#filter0_f_984_9708)">
        <ellipse cx="54.6362" cy="73.2478" rx="54.6362" ry="34.8025" fill="currentColor" />
      </g>
      <defs>
        <filter
          id="filter0_f_984_9708"
          x="-92"
          y="-53.5547"
          width="293.272"
          height="253.605"
          filterUnits="userSpaceOnUse"
          color-interpolation-filters="sRGB"
        >
          <feFlood flood-opacity="0" result="BackgroundImageFix" />
          <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
          <feGaussianBlur stdDeviation="46" result="effect1_foregroundBlur_984_9708" />
        </filter>
      </defs>
    </svg>
    <!-- Icon: Ellipse 10 -->
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="74"
      height="80"
      viewBox="0 0 74 80"
      fill="none"
      class="sm:tw-blur-xsm tw-absolute tw-left-0 tw-top-0 tw-z-0 tw-text-blue-300"
    >
      <g filter="url(#filter0_f_984_9709)">
        <path
          d="M48.6424 51.1431C48.6424 58.4733 47.2786 65.0609 45.1163 69.7786C42.914 74.5837 40.0744 77.087 37.2931 77.087C34.5118 77.087 31.6722 74.5837 29.4699 69.7786C27.3077 65.0609 25.9438 58.4733 25.9438 51.1431C25.9438 43.8129 27.3077 37.2252 29.4699 32.5075C31.6722 27.7025 34.5118 25.1992 37.2931 25.1992C40.0744 25.1992 42.914 27.7025 45.1163 32.5075C47.2786 37.2252 48.6424 43.8129 48.6424 51.1431Z"
          stroke="currentColor"
          stroke-width="2"
        />
      </g>
      <defs>
        <filter
          id="filter0_f_984_9709"
          x="0.943848"
          y="0.199219"
          width="72.6985"
          height="101.888"
          filterUnits="userSpaceOnUse"
          color-interpolation-filters="sRGB"
        >
          <feFlood flood-opacity="0" result="BackgroundImageFix" />
          <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
          <feGaussianBlur stdDeviation="12" result="effect1_foregroundBlur_984_9709" />
        </filter>
      </defs>
    </svg>
    <!-- Icon: Ellipse 11 -->
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="63"
      height="92"
      viewBox="0 0 63 92"
      fill="none"
      class="sm:tw-blur-xsm tw-absolute tw-left-0 tw-top-0 tw-z-0 tw-text-blue-100"
    >
      <g filter="url(#filter0_f_984_9710)">
        <path
          d="M46.3815 50.4191C46.3815 61.3285 44.712 71.1828 42.0294 78.2916C40.6875 81.8478 39.1016 84.691 37.3661 86.6363C35.6302 88.582 33.7863 89.5864 31.9127 89.5864C30.039 89.5864 28.1951 88.582 26.4592 86.6363C24.7237 84.691 23.1379 81.8478 21.7959 78.2916C19.1134 71.1828 17.4438 61.3285 17.4438 50.4191C17.4438 39.5096 19.1134 29.6553 21.7959 22.5465C23.1379 18.9903 24.7237 16.1471 26.4592 14.2018C28.1951 12.2562 30.039 11.2517 31.9127 11.2517C33.7863 11.2517 35.6302 12.2562 37.3661 14.2018C39.1016 16.1471 40.6875 18.9903 42.0294 22.5465C44.712 29.6553 46.3815 39.5096 46.3815 50.4191Z"
          stroke="currentColor"
        />
      </g>
      <defs>
        <filter
          id="filter0_f_984_9710"
          x="0.943848"
          y="-5.24829"
          width="61.9377"
          height="111.335"
          filterUnits="userSpaceOnUse"
          color-interpolation-filters="sRGB"
        >
          <feFlood flood-opacity="0" result="BackgroundImageFix" />
          <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
          <feGaussianBlur stdDeviation="8" result="effect1_foregroundBlur_984_9710" />
        </filter>
      </defs>
    </svg>
    <!-- Icon: Ellipse 9 -->
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="360"
      height="92"
      viewBox="0 0 360 92"
      fill="none"
      class="sm:tw-blur-xsm tw-absolute tw-left-0 tw-top-0 tw-z-0 tw-text-red-200"
    >
      <g filter="url(#filter0_f_984_9711)">
        <ellipse cx="290.021" cy="68.008" rx="69.9792" ry="43.0353" fill="currentColor" />
      </g>
      <defs>
        <filter
          id="filter0_f_984_9711"
          x="-63.9585"
          y="-259.027"
          width="707.958"
          height="654.071"
          filterUnits="userSpaceOnUse"
          color-interpolation-filters="sRGB"
        >
          <feFlood flood-opacity="0" result="BackgroundImageFix" />
          <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
          <feGaussianBlur stdDeviation="142" result="effect1_foregroundBlur_984_9711" />
        </filter>
      </defs>
    </svg>
    <!-- Icon: Ellipse 8 -->
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="360"
      height="92"
      viewBox="0 0 360 92"
      fill="none"
      class="sm:tw-blur-xsm tw-absolute tw-left-0 tw-top-0 tw-z-0 tw-text-blue-50"
    >
      <g filter="url(#filter0_f_984_9712)">
        <ellipse cx="177.755" cy="4.38997" rx="55.7588" ry="30.3118" fill="currentColor" />
      </g>
      <defs>
        <filter
          id="filter0_f_984_9712"
          x="-106.004"
          y="-253.922"
          width="567.518"
          height="516.624"
          filterUnits="userSpaceOnUse"
          color-interpolation-filters="sRGB"
        >
          <feFlood flood-opacity="0" result="BackgroundImageFix" />
          <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
          <feGaussianBlur stdDeviation="114" result="effect1_foregroundBlur_984_9712" />
        </filter>
      </defs>
    </svg>
  </div>
  <div class="tw-mx-6 tw-mb-4 tw-block tw-py-2">
    <button type="button" class="tw-z-5 tw-flex tw-w-full tw-items-center tw-justify-between" onclick="toggleDrawerSection(event.target)">
      <p class="tw-text-sm">Create Scales</p>
      <!-- Icon: chevron-down -->
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M2.58416 4.96755C2.82302 4.73787 3.20285 4.74532 3.43253 4.98418L8.00003 9.73438L12.5675 4.98418C12.7972 4.74532 13.177 4.73787 13.4159 4.96755C13.6548 5.19723 13.6622 5.57705 13.4325 5.81591L8.43253 11.0159C8.3194 11.1336 8.16324 11.2 8.00003 11.2C7.83681 11.2 7.68065 11.1336 7.56753 11.0159L2.56753 5.81591C2.33785 5.57705 2.3453 5.19723 2.58416 4.96755Z"
          fill="currentColor"
        />
      </svg>
      <!-- Icon: chevron-up -->
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none" class="tw-hidden">
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M13.4159 11.0325C13.177 11.2621 12.7972 11.2547 12.5675 11.0158L8 6.26562L3.4325 11.0158C3.20283 11.2547 2.823 11.2621 2.58414 11.0325C2.34528 10.8028 2.33783 10.4229 2.56751 10.1841L7.5675 4.98409C7.68063 4.86644 7.83679 4.79995 8 4.79995C8.16322 4.79995 8.31938 4.86644 8.4325 4.98409L13.4325 10.1841C13.6622 10.4229 13.6547 10.8028 13.4159 11.0325Z"
          fill="currentColor"
        />
      </svg>
    </button>
  </div>
  <div class="tw-overflow-hidden">
    <div class="tw-duration-490 tw-hidden tw-w-full -tw-translate-y-full tw-transform tw-bg-neutral-50 tw-p-6 tw-transition-transform">
      <div class="tw-mb-6 tw-flex tw-items-start tw-gap-6 tw-self-stretch tw-text-neutral-800">
        <p class="tw-whitespace-nowrap tw-text-sm tw-font-semibold">Step 1</p>
        <p class="tw-text-sm">Navigate to the Scales page in the Skills Platform.</p>
      </div>
      <div class="tw-mb-6 tw-flex tw-items-start tw-gap-6 tw-self-stretch tw-text-neutral-800">
        <p class="tw-whitespace-nowrap tw-text-sm tw-font-semibold">Step 2</p>
        <p class="tw-text-sm">Click the “+” button in the top right corner.</p>
      </div>
      <div class="tw-mb-6 tw-flex tw-items-start tw-gap-6 tw-self-stretch tw-text-neutral-800">
        <p class="tw-whitespace-nowrap tw-text-sm tw-font-semibold">Step 3</p>
        <p class="tw-text-sm">Lorem ipsum dolor sit amet consectetur.</p>
      </div>
      <div class="tw-mb-6 tw-flex tw-items-start tw-gap-6 tw-self-stretch tw-text-neutral-800">
        <p class="tw-whitespace-nowrap tw-text-sm tw-font-semibold">Step 4</p>
        <p class="tw-text-sm">Lorem ipsum dolor sit amet consectetur.</p>
      </div>
      <div class="tw-mb-6 tw-flex tw-items-start tw-gap-6 tw-self-stretch tw-text-neutral-800">
        <p class="tw-whitespace-nowrap tw-text-sm tw-font-semibold">Step 5</p>
        <p class="tw-text-sm">Lorem ipsum dolor sit amet consectetur.</p>
      </div>
      <div class="tw-mb-6 tw-flex tw-items-start tw-gap-6 tw-self-stretch tw-text-neutral-800">
        <p class="tw-whitespace-nowrap tw-text-sm tw-font-semibold">Step 6</p>
        <p class="tw-text-sm">Lorem ipsum dolor sit amet consectetur.</p>
      </div>
      <div class="tw-flex tw-items-start tw-gap-6 tw-self-stretch tw-text-neutral-800">
        <p class="tw-whitespace-nowrap tw-text-sm tw-font-semibold">Step 7</p>
        <p class="tw-text-sm">Lorem ipsum dolor sit amet consectetur.</p>
      </div>
    </div>
  </div>
  <div class="tw-mx-6 tw-mb-4 tw-block tw-py-2">
    <button type="button" class="tw-z-5 tw-flex tw-w-full tw-items-center tw-justify-between" onclick="toggleDrawerSection(event.target)">
      <p class="tw-text-sm">Primary Scales</p>
      <!-- Icon: chevron-down -->
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M2.58416 4.96755C2.82302 4.73787 3.20285 4.74532 3.43253 4.98418L8.00003 9.73438L12.5675 4.98418C12.7972 4.74532 13.177 4.73787 13.4159 4.96755C13.6548 5.19723 13.6622 5.57705 13.4325 5.81591L8.43253 11.0159C8.3194 11.1336 8.16324 11.2 8.00003 11.2C7.83681 11.2 7.68065 11.1336 7.56753 11.0159L2.56753 5.81591C2.33785 5.57705 2.3453 5.19723 2.58416 4.96755Z"
          fill="currentColor"
        />
      </svg>
      <!-- Icon: chevron-up -->
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none" class="tw-hidden">
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M13.4159 11.0325C13.177 11.2621 12.7972 11.2547 12.5675 11.0158L8 6.26562L3.4325 11.0158C3.20283 11.2547 2.823 11.2621 2.58414 11.0325C2.34528 10.8028 2.33783 10.4229 2.56751 10.1841L7.5675 4.98409C7.68063 4.86644 7.83679 4.79995 8 4.79995C8.16322 4.79995 8.31938 4.86644 8.4325 4.98409L13.4325 10.1841C13.6622 10.4229 13.6547 10.8028 13.4159 11.0325Z"
          fill="currentColor"
        />
      </svg>
    </button>
  </div>
  <div class="tw-overflow-hidden">
    <div class="tw-duration-490 tw-hidden tw-w-full -tw-translate-y-full tw-transform tw-bg-neutral-50 tw-p-6 tw-transition-transform">
      <div class="tw-mb-6 tw-flex tw-items-start tw-gap-6 tw-self-stretch tw-text-neutral-800">
        <p class="tw-whitespace-nowrap tw-text-sm tw-font-semibold">Step 1</p>
        <p class="tw-text-sm">Navigate to the Scales page in the Skills Platform.</p>
      </div>
      <div class="tw-mb-6 tw-flex tw-items-start tw-gap-6 tw-self-stretch tw-text-neutral-800">
        <p class="tw-whitespace-nowrap tw-text-sm tw-font-semibold">Step 2</p>
        <p class="tw-text-sm">Select your desired primary scale from the menu labeled “Primary Scale” in the top left.</p>
      </div>
      <div class="tw-mb-6 tw-flex tw-items-start tw-gap-6 tw-self-stretch tw-text-neutral-800">
        <p class="tw-whitespace-nowrap tw-text-sm tw-font-semibold">Step 3</p>
        <p class="tw-text-sm">Lorem ipsum dolor sit amet consectetur.</p>
      </div>
      <div class="tw-mb-6 tw-flex tw-items-start tw-gap-6 tw-self-stretch tw-text-neutral-800">
        <p class="tw-whitespace-nowrap tw-text-sm tw-font-semibold">Step 4</p>
        <p class="tw-text-sm">Lorem ipsum dolor sit amet consectetur.</p>
      </div>
      <div class="tw-mb-6 tw-flex tw-items-start tw-gap-6 tw-self-stretch tw-text-neutral-800">
        <p class="tw-whitespace-nowrap tw-text-sm tw-font-semibold">Step 5</p>
        <p class="tw-text-sm">Lorem ipsum dolor sit amet consectetur.</p>
      </div>
      <div class="tw-mb-6 tw-flex tw-items-start tw-gap-6 tw-self-stretch tw-text-neutral-800">
        <p class="tw-whitespace-nowrap tw-text-sm tw-font-semibold">Step 6</p>
        <p class="tw-text-sm">Lorem ipsum dolor sit amet consectetur.</p>
      </div>
      <div class="tw-flex tw-items-start tw-gap-6 tw-self-stretch tw-text-neutral-800">
        <p class="tw-whitespace-nowrap tw-text-sm tw-font-semibold">Step 7</p>
        <p class="tw-text-sm">Lorem ipsum dolor sit amet consectetur.</p>
      </div>
    </div>
  </div>
  <div class="tw-mx-6 tw-mb-4 tw-block tw-py-2">
    <button type="button" class="tw-z-5 tw-flex tw-w-full tw-items-center tw-justify-between" onclick="toggleDrawerSection(event.target)">
      <p class="tw-text-sm">Map Scales</p>
      <!-- Icon: chevron-down -->
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M2.58416 4.96755C2.82302 4.73787 3.20285 4.74532 3.43253 4.98418L8.00003 9.73438L12.5675 4.98418C12.7972 4.74532 13.177 4.73787 13.4159 4.96755C13.6548 5.19723 13.6622 5.57705 13.4325 5.81591L8.43253 11.0159C8.3194 11.1336 8.16324 11.2 8.00003 11.2C7.83681 11.2 7.68065 11.1336 7.56753 11.0159L2.56753 5.81591C2.33785 5.57705 2.3453 5.19723 2.58416 4.96755Z"
          fill="currentColor"
        />
      </svg>
      <!-- Icon: chevron-up -->
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none" class="tw-hidden">
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M13.4159 11.0325C13.177 11.2621 12.7972 11.2547 12.5675 11.0158L8 6.26562L3.4325 11.0158C3.20283 11.2547 2.823 11.2621 2.58414 11.0325C2.34528 10.8028 2.33783 10.4229 2.56751 10.1841L7.5675 4.98409C7.68063 4.86644 7.83679 4.79995 8 4.79995C8.16322 4.79995 8.31938 4.86644 8.4325 4.98409L13.4325 10.1841C13.6622 10.4229 13.6547 10.8028 13.4159 11.0325Z"
          fill="currentColor"
        />
      </svg>
    </button>
  </div>
  <div class="tw-overflow-hidden">
    <div class="tw-duration-490 tw-hidden tw-w-full -tw-translate-y-full tw-transform tw-bg-neutral-50 tw-p-6 tw-transition-transform">
      <div class="tw-mb-6 tw-flex tw-items-start tw-gap-6 tw-self-stretch tw-text-neutral-800">
        <p class="tw-whitespace-nowrap tw-text-sm tw-font-semibold">Step 1</p>
        <p class="tw-text-sm">Navigate to the Scales Mapping page in the Skills Platform.</p>
      </div>
      <div class="tw-mb-6 tw-flex tw-items-start tw-gap-6 tw-self-stretch tw-text-neutral-800">
        <p class="tw-whitespace-nowrap tw-text-sm tw-font-semibold">Step 2</p>
        <p class="tw-text-sm">Click the “Edit” button in the top right corner.</p>
      </div>
      <div class="tw-mb-6 tw-flex tw-items-start tw-gap-6 tw-self-stretch tw-text-neutral-800">
        <p class="tw-whitespace-nowrap tw-text-sm tw-font-semibold">Step 3</p>
        <p class="tw-text-sm">Lorem ipsum dolor sit amet consectetur.</p>
      </div>
      <div class="tw-mb-6 tw-flex tw-items-start tw-gap-6 tw-self-stretch tw-text-neutral-800">
        <p class="tw-whitespace-nowrap tw-text-sm tw-font-semibold">Step 4</p>
        <p class="tw-text-sm">Lorem ipsum dolor sit amet consectetur.</p>
      </div>
      <div class="tw-mb-6 tw-flex tw-items-start tw-gap-6 tw-self-stretch tw-text-neutral-800">
        <p class="tw-whitespace-nowrap tw-text-sm tw-font-semibold">Step 5</p>
        <p class="tw-text-sm">Lorem ipsum dolor sit amet consectetur.</p>
      </div>
      <div class="tw-mb-6 tw-flex tw-items-start tw-gap-6 tw-self-stretch tw-text-neutral-800">
        <p class="tw-whitespace-nowrap tw-text-sm tw-font-semibold">Step 6</p>
        <p class="tw-text-sm">Lorem ipsum dolor sit amet consectetur.</p>
      </div>
      <div class="tw-flex tw-items-start tw-gap-6 tw-self-stretch tw-text-neutral-800">
        <p class="tw-whitespace-nowrap tw-text-sm tw-font-semibold">Step 7</p>
        <p class="tw-text-sm">Lorem ipsum dolor sit amet consectetur.</p>
      </div>
    </div>
  </div>
  <div class="tw-mx-6 tw-mb-4 tw-block tw-py-2">
    <button type="button" class="tw-z-5 tw-flex tw-w-full tw-items-center tw-justify-between" onclick="toggleDrawerSection(event.target)">
      <p class="tw-text-sm">Publish</p>
      <!-- Icon: chevron-down -->
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M2.58416 4.96755C2.82302 4.73787 3.20285 4.74532 3.43253 4.98418L8.00003 9.73438L12.5675 4.98418C12.7972 4.74532 13.177 4.73787 13.4159 4.96755C13.6548 5.19723 13.6622 5.57705 13.4325 5.81591L8.43253 11.0159C8.3194 11.1336 8.16324 11.2 8.00003 11.2C7.83681 11.2 7.68065 11.1336 7.56753 11.0159L2.56753 5.81591C2.33785 5.57705 2.3453 5.19723 2.58416 4.96755Z"
          fill="currentColor"
        />
      </svg>
      <!-- Icon: chevron-up -->
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none" class="tw-hidden">
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M13.4159 11.0325C13.177 11.2621 12.7972 11.2547 12.5675 11.0158L8 6.26562L3.4325 11.0158C3.20283 11.2547 2.823 11.2621 2.58414 11.0325C2.34528 10.8028 2.33783 10.4229 2.56751 10.1841L7.5675 4.98409C7.68063 4.86644 7.83679 4.79995 8 4.79995C8.16322 4.79995 8.31938 4.86644 8.4325 4.98409L13.4325 10.1841C13.6622 10.4229 13.6547 10.8028 13.4159 11.0325Z"
          fill="currentColor"
        />
      </svg>
    </button>
  </div>
  <div class="tw-overflow-hidden">
    <div class="tw-duration-490 tw-hidden tw-w-full -tw-translate-y-full tw-transform tw-bg-neutral-50 tw-p-6 tw-transition-transform">
      <div class="tw-mb-6 tw-flex tw-items-start tw-gap-6 tw-self-stretch tw-text-neutral-800">
        <p class="tw-whitespace-nowrap tw-text-sm tw-font-semibold">Step 1</p>
        <p class="tw-text-sm">Navigate to the Publish page in the Skills Platform.</p>
      </div>
      <div class="tw-mb-6 tw-flex tw-items-start tw-gap-6 tw-self-stretch tw-text-neutral-800">
        <p class="tw-whitespace-nowrap tw-text-sm tw-font-semibold">Step 2</p>
        <p class="tw-text-sm">Click the “Publish to Degreed LXP” button in the center of hte page.</p>
      </div>
      <div class="tw-mb-6 tw-flex tw-items-start tw-gap-6 tw-self-stretch tw-text-neutral-800">
        <p class="tw-whitespace-nowrap tw-text-sm tw-font-semibold">Step 3</p>
        <p class="tw-text-sm">Lorem ipsum dolor sit amet consectetur.</p>
      </div>
      <div class="tw-mb-6 tw-flex tw-items-start tw-gap-6 tw-self-stretch tw-text-neutral-800">
        <p class="tw-whitespace-nowrap tw-text-sm tw-font-semibold">Step 4</p>
        <p class="tw-text-sm">Lorem ipsum dolor sit amet consectetur.</p>
      </div>
      <div class="tw-mb-6 tw-flex tw-items-start tw-gap-6 tw-self-stretch tw-text-neutral-800">
        <p class="tw-whitespace-nowrap tw-text-sm tw-font-semibold">Step 5</p>
        <p class="tw-text-sm">Lorem ipsum dolor sit amet consectetur.</p>
      </div>
      <div class="tw-mb-6 tw-flex tw-items-start tw-gap-6 tw-self-stretch tw-text-neutral-800">
        <p class="tw-whitespace-nowrap tw-text-sm tw-font-semibold">Step 6</p>
        <p class="tw-text-sm">Lorem ipsum dolor sit amet consectetur.</p>
      </div>
      <div class="tw-flex tw-items-start tw-gap-6 tw-self-stretch tw-text-neutral-800">
        <p class="tw-whitespace-nowrap tw-text-sm tw-font-semibold">Step 7</p>
        <p class="tw-text-sm">Lorem ipsum dolor sit amet consectetur.</p>
      </div>
    </div>
  </div>
</div>
