<div class="tw-flex tw-self-stretch tw-gap-3 tw-items-center tw-relative tw-overflow-hidden">
  <div class="tw-relative tw-z-20 tw-flex tw-w-full tw-items-center tw-justify-between tw-p-6">
    <h4 class="tw-flex tw-self-stretch tw-font-extrabold tw-text-neutral-900">{TITLE}</h4>
    <button type="button" class="tw-z-5" onclick="toggleDrawer('suggestions-drawer-skills')">
      <!-- Icon: x-mark -->
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M2.46967 2.46967C2.76256 2.17678 3.23744 2.17678 3.53033 2.46967L8 6.93934L12.4697 2.46967C12.7626 2.17678 13.2374 2.17678 13.5303 2.46967C13.8232 2.76256 13.8232 3.23744 13.5303 3.53033L9.06066 8L13.5303 12.4697C13.8232 12.7626 13.8232 13.2374 13.5303 13.5303C13.2374 13.8232 12.7626 13.8232 12.4697 13.5303L8 9.06066L3.53033 13.5303C3.23744 13.8232 2.76256 13.8232 2.46967 13.5303C2.17678 13.2374 2.17678 12.7626 2.46967 12.4697L6.93934 8L2.46967 3.53033C2.17678 3.23744 2.17678 2.76256 2.46967 2.46967Z"
          fill="currentColor"
        />
      </svg>
    </button>
  </div>

  <!-- Icon: Ellipse 6 -->
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="165"
    height="81"
    viewBox="0 0 165 81"
    fill="none"
    class="sm:tw-blur-xsm tw-absolute tw-right-0 tw-top-0.5 tw-text-blue-500 tw-z-10"
  >
    <g filter="url(#filter0_f_984_9707)">
      <ellipse cx="114.824" cy="101.687" rx="22.8274" ry="30.3118" fill="currentColor" />
    </g>
    <defs>
      <filter
        id="filter0_f_984_9707"
        x="-0.00390625"
        y="-20.625"
        width="229.655"
        height="244.624"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
        <feGaussianBlur stdDeviation="46" result="effect1_foregroundBlur_984_9707" />
      </filter>
    </defs>
  </svg>
  <!-- Icon: Ellipse 7 -->
  <svg
    width="393"
    height="93"
    xmlns="http://www.w3.org/2000/svg"
    class="tw-bg-purple-100 tw-absolute tw-top-1/2 tw-flex-shrink-0 tw-rounded-full tw-z-0"
    style="filter: blur(46px); /* Custom filter */"
  ></svg>

  <!-- Icon: Ellipse 10 -->
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="sm:tw-blur-md tw-absolute tw-left-12 tw-top-1/2 tw-z-0 tw-text-purple-300"
    width="87"
    height="72"
    viewBox="0 0 87 72"
    fill="none"
  >
    <g filter="url(#filter0_f_15162_30998)">
      <path
        d="M110 60C110 79.1612 91.1575 95 67.5 95C43.8425 95 25 79.1612 25 60C25 40.8388 43.8425 25 67.5 25C91.1575 25 110 40.8388 110 60Z"
        stroke="#D3B1FF"
        style="stroke: #d3b1ff; stroke: color(display-p3 0.8275 0.6941 1); stroke-opacity: 1"
        stroke-width="2"
      />
    </g>
    <defs>
      <filter
        id="filter0_f_15162_30998"
        x="0"
        y="0"
        width="135"
        height="120"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
        <feGaussianBlur stdDeviation="12" result="effect1_foregroundBlur_15162_30998" />
      </filter>
    </defs>
  </svg>
  <!-- Icon: Ellipse 11 -->
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="sm:tw-blur-sm tw-absolute tw-left-14 tw-top-1/2 tw-z-0 tw-text-purple-100"
    width="108"
    height="106"
    viewBox="0 0 140 80"
    fill="none"
  >
    <g filter="url(#filter0_f_15168_30999)">
      <path
        d="M123.5 62C123.5 90.9862 99.5561 114.5 70 114.5C40.4439 114.5 16.5 90.9862 16.5 62C16.5 33.0138 40.4439 9.5 70 9.5C99.5561 9.5 123.5 33.0138 123.5 62Z"
        stroke="#F1E6FF"
        style="stroke: #f1e6ff; stroke: color(display-p3 0.9451 0.902 1); stroke-opacity: 1"
      />
    </g>
    <defs>
      <filter
        id="filter0_f_15168_30999"
        x="0"
        y="-7"
        width="140"
        height="138"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
        <feGaussianBlur stdDeviation="8" result="effect1_foregroundBlur_15168_30999" />
      </filter>
    </defs>
  </svg>

  <!-- Icon: Ellipse 9 -->
  <svg
    width="505"
    height="115"
    xmlns="http://www.w3.org/2000/svg"
    class="tw-bg-red-2000 tw-absolute tw-top-1/2 tw-right-1.5 tw-flex-shrink-0 tw-rounded-lg tw-z-0"
    style="filter: blur(142px); /* Custom filter */"
  ></svg>
  <!-- Icon: Ellipse 8 -->
  <svg
    width="393"
    height="93"
    xmlns="http://www.w3.org/2000/svg"
    class="tw-bg-purple-50 tw-absolute tw-top-1/2 tw-flex-shrink-0 tw-rounded-lg tw-z-0"
    style="filter: blur(114px); /* Custom filter */"
  ></svg>
</div>
